aiohttp
aiosignal
async-timeout
attrs
binance
certifi
charset-normalizer
dateparser
idna
multidict
numpy
pandas
python-binance
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
six
tzdata
tzlocal
ujson
urllib3
websockets


